*:not(input){
    cursor: url(img/original.cur), default;
}

#clickHere{
    position: fixed;
    z-index: 100;
    background-color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    line-height:100vh;
}

#welcome{
    position: fixed;
    z-index: 10;
    background-color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    line-height:100vh;
    font-size: 0px;
    text-shadow: 2px 3px 3px rgba(255, 96, 206, 0.8);
}

#sign-in,#player,body::-webkit-scrollbar,button#startBtn{
    display:none;
}

img#icon{
    height: 80px;
    width: 80px;
}
body{
    background-size:100%;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Segoe UI","Yu Gothic","YuGothic",sans-serif;
    font-weight:bold;
    color: #fff;
}
button#startBtn{
    position: fixed;
    z-index:0;
    top: 13%;
    left: 32vw;
    margin: -25px 0 0 -25px;
    width: 40vw;
    height: 40vw;
    border-radius: 40vw;
    font-size: 800%;
    background-color: hsl(340, 96%, 68%);
    border: 35px solid #fff;
    text-shadow: 0 0 5px #fff,0 0 1px #fff,
    0px 3px 3px rgba(0,0,0,0.9);
    box-shadow: 0 0 50px 15px rgb(246, 207, 65),
    inset 0 0 5px 2px rgba(0, 0, 0, 0.53);
    filter: brightness(120%) contrast(115%) ;
    background-size: 30%;
    background-position: right center;       
}

button span#BtnSpanBiccuri{
    font-size: 1.4em;
    position: relative;
    bottom: 0.15em;
}
button span#BtnSpanStart{
    position: relative;
    bottom: 0.25em;
}

button#startBtn:hover{
    background-color: #ff629b;
}

#accountBtnContent{
    position: absolute;
    left: 65vw;
    top: 35vh;
    width: 18vw;
    display:-webkit-box;
    display:-ms-flexbox;
    flex-flow: column;
}

.sideBtn{
    margin: 3% 0px;
    position: relative;
    width: 100%;
    height: 2em;
    font-size: 2em;
    background-color: hsl(340, 96%, 68%);
    border: 5px solid #fff;
    text-shadow: 0 0 1 #fff,0 0 1px #fff,
    0px 3px 3px rgba(0,0,0,0.9);
    box-shadow: 0 0 5px 1px rgb(246, 207, 65),
    inset 0 0 5px 2px rgba(0, 0, 0, 0.53);
    filter: brightness(120%) contrast(115%) ;
    background-size: 30%;
    background-position: right center;       
}

.sideBtn:hover{
    top: 3px;

    transition: all 200mx 0s ease;
}


wbr{
    height: 2em;
}
#sign-in{
    position: fixed;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.498);
    height: 12em;
    width: 19em;
}

#accountIDNAME{
    position: fixed;
    z-index: 5;
    border:2px solid rgb(169, 164, 0);
    background-color: hsl(340, 96%, 68%);;
}
#display_name{
    font-size: 2em;
}

label[for=input_icon]{
    position: absolute;
    bottom: 2em;
    padding: 3px 40px;
    background-color: #384878;
}

input#input_icon{
    display: none;
}

#login-logout-button{
    position: relative;
    left: 5em;
}

#name{
    position: absolute;
    bottom: 0;
}